## Methods

In [1]:
mylist = [1, 2, 3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

## Functions

In [9]:
def say_hello():
    print("hello")
    print("are")
    print("you")

In [10]:
say_hello()

hello
are
you

In [14]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [15]:
say_hello()

Hello Default

In [19]:
def add_num(num1 , num2):
    return num1 + num2

In [20]:
result = add_num(10, 20)

In [21]:
result

30

In [22]:
def print_result(a, b):
    print(a + b)

In [24]:
def return_result(a,b):
    return (a+b)

In [26]:
result = print_result(10, 20)

30

In [27]:
type(result)

NoneType

In [28]:
result = return_result(10,20)

In [29]:
result

30

In [30]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [31]:
result = myfunc(10,20)

30

In [32]:
result

30

In [33]:
def sum_numbers(num1,num2):
    return num1 +  num2

In [34]:
sum_numbers(10, 20)

30

In [35]:
sum_numbers('10','20')

'1020'

## Functions with Logic

In [36]:
def check_even(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [37]:
check_even(20)

True

In [38]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [51]:
def check_even_list(new_list):
    
    for num in new_list:
        if num % 2 == 0:
            return True
        else:
            pass
    
    return False

In [55]:
def even_list(new_list):
    check_even = False
    
    # Placeholder variables
    num_list = []
    
    for num in new_list:
        if num % 2 == 0:
            num_list.append(num)
    
    return num_list

In [56]:
even_list([1,7,3,9,5])

[]

In [57]:
even_list([2,3, 1, 5, 7, 8])

[2, 8]

## Tuple Unpacking

In [58]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [60]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [62]:
for ticker,price in stock_prices:
    print(price + (0.1*price))

220.0
440.0
110.0

In [99]:
work_hours = [('Abby',100),('Billy', 4000),('Cassie', 800)]

In [104]:
def employ_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for person,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = person
        else:
            pass
    
    #Return
    return employee_of_month, current_max

In [108]:
item = employ_check(work_hours)

item

## Interactions Between Functions

In [109]:
from random import shuffle

In [112]:
example = [1,2,3,4,5,6,7]

In [127]:
result = shuffle(example)

In [128]:
result

In [129]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [130]:
r = shuffle_list(example)

In [131]:
r

[2, 6, 5, 7, 1, 4, 3]

In [134]:
mylist = ['','0','']

In [135]:
shuffle_list(mylist)

['0', '', '']

In [136]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number: 0, 1 or 2")
    
    return int(guess)

In [138]:
player_guess()

Pick a number: 0, 1 or 23
Pick a number: 0, 1 or 23
Pick a number: 0, 1 or 20

0

In [139]:
myindex = player_guess()

Pick a number: 0, 1 or 22

In [140]:
myindex

2

In [147]:
def check_guess(mylist,guess):
    if mylist[guess] == '0':
        print('Correct!')
    else:
        print('Wrong Guess')
        
    print(mylist)

In [148]:
check_guess()

TypeError: check_guess() missing 2 required positional arguments: 'mylist' and 'guess'

In [149]:
#INITIAL LIST
mylist = ['','0','']

#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list, guess)

Pick a number: 0, 1 or 22
Wrong Guess
['0', '', '']

## *args and **kwargs

In [153]:
def myfunc(a,b,c=0,d=0):
    #Returns 5% of the sum of a and b
    return sum((a,b,c,d)) * 0.05

In [154]:
myfunc(40,60,100,100,3,4)

TypeError: myfunc() takes from 2 to 4 positional arguments but 6 were given

In [159]:
def myfunc(*args):
    
    for item in args:
        print(item)
    return sum(args) * 0.05

In [160]:
myfunc(40,60,100,1,34)

40
60
100
1
34

11.75

In [165]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My choice of fruit is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [167]:
myfunc(fruit = 'apple', veggie = 'lettuce')

My choice of fruit is apple

In [170]:
def myfunc(*args, **kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0], kwargs['food']))

In [171]:
myfunc(10,20,30, fruit = 'orange',food = 'eggs', animal = 'dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs

In [184]:
def myfunc(my_string):
    
    new_string = ''
    index = 1
    
    for letter in my_string:
        if index % 2 == 0:
            new_string += letter.upper()
        else:
            new_string += letter.lower()
        
        index += 1
        
    return new_string

In [185]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'