# if, elif and else statements

In [4]:
hungry = False

if hungry==True:
    print("FEED ME!")
else:
    print("Im not hungry!")

Im not hungry!

In [8]:
loc = 'Game'

if loc == 'Auto Shop':
    print("Cars are cool")
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store!')
else:
    print("I do not know much.")

I do not know much.

In [10]:
name = 'Frankie'

if name == 'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy!')
else:
    print("What is your name?")

Hello Frankie!

## For Loops in Python

In [1]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [5]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [11]:
for nums in mylist:
    #Check for even
    if nums%2==0:
        print(nums)
    else:
        print(f'Odd Number {nums}')

Odd Number 1
2
Odd Number 3
4
Odd Number 5
6
Odd Number 7
8
Odd Number 9
10

In [15]:
list_sum = 0

for num in mylist:
    list_sum += num
    
print(list_sum)

55

In [16]:
my_string = 'Hello World'

for letter in my_string:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [18]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [20]:
tup = (1,2,2,3)

for item in tup:
    print(item)

1
2
2
3

In [21]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [22]:
len(mylist)

4

In [25]:
#Tuple Unpacking
for (a,b) in mylist:
    print(a)

1
3
5
7

In [26]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [28]:
for a,b,c in mylist:
    print(b)

2
6
9

In [35]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d.items():
    print(value)

1
2
3

In [36]:
for value in d.values():
    print(value)

1
2
3

## While Loops in Python

In [41]:
x = 50

while x < 5:
    print(f'The current value of x is {x}')
    x += 1
else:
    print("X is NOT LESS THAN 5")

X is NOT LESS THAN 5

## break, continue, pass

In [44]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [45]:
mystring = 'Sammy'

In [48]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [49]:
x = 0

while x < 5:
    
    if x==2:
        break
        
    print(x)
    x += 1

0
1

## Useful Operators

In [50]:
my_list = [1,2,3]

In [54]:
for num in range(0, 11, 2):
    print(num)

0
2
4
6
8
10

In [56]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [73]:
index_count = 0

for letter in 'abcde':
    print('At index {} the number is {}'.format(index_count,letter))
    index_count += 1

At index 0 the number is a
At index 1 the number is b
At index 2 the number is c
At index 3 the number is d
At index 4 the number is e

In [71]:
#Printing pattern in Python
for i in range(1, 5+1):
    for j in range(1, i+1):
        print("* ",end = "")
    print()

*
* *
* * *
* * * *
* * * * *

In [76]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print()

0
a

1
b

2
c

3
d

4
e

In [79]:
mylist1 = [1, 2, 3, 4, 5, 6]
mylist2 = ['a', 'b', 'c']
mylist3 = [100,200,300]

for item in zip(mylist1, mylist2, mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [80]:
list(zip(mylist1, mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [81]:
'x' in [1, 2, 3]

False

In [82]:
2 in [1, 2, 3]

True

In [83]:
'a' in 'a world'

True

In [84]:
'mykey' in {'mykey':345}

True

In [86]:
d = {'mykey':345}

345 in d.keys()

False

In [87]:
mylist = [10,20,30,40,100]

In [89]:
min(mylist)

10

In [90]:
max(mylist)

100

In [91]:
from random import shuffle

In [92]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [97]:
random_list = shuffle(mylist)

In [96]:
type(random_list)

NoneType

In [98]:
mylist

[1, 6, 8, 3, 4, 9, 5, 7, 2, 10]

In [99]:
from random import randint

In [100]:
randint(0,100)

67

In [101]:
mynum = randint(0,10)

In [102]:
mynum

8

In [106]:
result = input('Favourite Number: ')

Favourite Number: 30

In [107]:
type(result)

str

In [108]:
float(result)

30.0

In [109]:
int(result)

30

## List Comprehensions

In [110]:
mystring = 'hello'

In [111]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [112]:
mylist

['h', 'e', 'l', 'l', 'o']

In [113]:
#List Comprehensions
mylist = [letter for letter in mystring]

In [114]:
mylist

['h', 'e', 'l', 'l', 'o']

In [115]:
mylist = [x for x in 'word']

In [116]:
mylist

['w', 'o', 'r', 'd']

In [119]:
mylist = [num**2 for num in range(0,11)]

In [120]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [121]:
mylist = [x**2 for x in range(0, 11) if x%2 == 0]

In [122]:
mylist

[0, 4, 16, 36, 64, 100]

In [123]:
celsius = [0, 10, 20, 34.5]

farhenite = [((9/5)*temp + 32) for temp in celsius]

In [124]:
farhenite

[32.0, 50.0, 68.0, 94.1]

In [126]:
farhenite = []

for temp in celsius:
    temp_in_far = ((9/5)*temp + 32)
    farhenite.append(temp_in_far)

In [127]:
farhenite

[32.0, 50.0, 68.0, 94.1]

In [130]:
results = [x if x%2 ==0 else 'ODD' for x in range(0, 11)]

In [131]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [135]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [136]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [137]:
mylist = [x*y for x in [2,4,6] for y in [1,10, 1000]]

In [138]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]